<%- include('partials/header') %>

<navbar>
  <ul class="nav-list">
    <li class="nav-item">
      <a href="#"><img src="images/raven.svg" /></a>
    </li>
    <li class="nav-item"><a href="#about-section">About</a></li>
    <li class="nav-item"><a href="#project-section">Projects</a></li>
    <li class="nav-item"><a href="#">Contact</a></li>
  </ul>
</navbar>
<div id="particles-js">
  <div class="first-box">
    <p class="my-name-fline">Hi, I'm</p>
    <h1 class="my-name">Fernando Cuervo</h1>
    <p class="my-name-p">Computer Science Student</p>
  </div>
</div>
<div class="about-me-container" id="about-section">
  <div class="about-title">
    <h1 class="section-title">About me</h1>
  </div>
  <div class="about-info-container">
    <img src="images/the-rock.jpg" class="about-img" alt="fernando-img" />
    <div class="about-me-content">
      <h3 class="firsts-subtitle">Who am I?</h3>
      <p class="paragraph-info">
        I'm Fernando Cuervo, a Computer Science Student
      </p>
      <p class="paragraph-info-third">
        For a while now I have found my passion, <b>software development.</b> I
        am a person who wakes up every day with the desire to learn and improve.
        In my free time I like to do personal projects to improve my skills.
      </p>
    </div>
  </div>
  <div class="phrase">
    <h1 class="my-phrase">
      "YOU CAN DO ANYTHING IF YOU SET GOALS.<br />YOU JUST HAVE TO PUSH
      YOURSELF"
    </h1>
    <p class="my-phrase-author">RJ MITTE</p>
  </div>
</div>

<div class="projects-container" id='project-section'>
    <div class="about-title">
        <h1 class="section-title">Projects</h1>
    </div>

    <div class="cards-container">
        <div class="card">
                <div class="card-header">
                    <img
                    src="https://c0.wallpaperflare.com/preview/483/210/436/car-green-4x4-jeep.jpg"
                    alt="sorting-card"
                    />
                </div>
            <div class="card-body">
                <div class="tag-container">
                        <span class="tag tag-teal">HTML</span>
                        <span class="tag tag-teal">CSS</span>
                        <span class="tag tag-teal">JS</span>
                </div>
                <h4>Sorting Algorithms Visualization</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, ducimus minus quia distinctio cupiditate excepturi saepe labore enim explicabo quidem!</p>
                <div class="card-links">
                    <a href="#"><img src="images/github.svg" /></a>
                    <a href="#"><button class="btn-link">See more</button></a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
            <img
                src="https://c0.wallpaperflare.com/preview/483/210/436/car-green-4x4-jeep.jpg"
                alt="sorting-card"
            />
            </div>
            <div class="card-body">
                <div class="tag-container">
                    <span class="tag tag-teal">HTML</span>
                    <span class="tag tag-teal">CSS</span>
                    <span class="tag tag-teal">JS</span>
                </div>
                <h4>Hola a todos</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, ducimus minus quia distinctio cupiditate excepturi saepe labore enim explicabo quidem!</p>
                <div class="card-links">
                    <a href="#"><img src="images/github.svg" /></a>
                    <a href="#"><button class="btn-link">See more</button></a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
            <img
                src="https://c0.wallpaperflare.com/preview/483/210/436/car-green-4x4-jeep.jpg"
                alt="sorting-card"
            />
            </div>
            <div class="card-body">
                <div class="tag-container">
                    <span class="tag tag-teal">HTML</span>
                    <span class="tag tag-teal">CSS</span>
                    <span class="tag tag-teal">JS</span>
                </div>
                <h4>Hola a todos</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, ducimus minus quia distinctio cupiditate excepturi saepe labore enim explicabo quidem!</p>
                <div class="card-links">
                    <a href="#"><img src="images/github.svg" /></a>
                    <a href="#"><button class="btn-link">See more</button></a>
                </div>
            </div>
        </div>

    </div>

</div>

<script src="scripts/particles.js"></script>
<script src="scripts/app.js"></script>
<%- include('partials/footer') %>
